<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puyin.cn.dao.FinanceDao">
    <select id="findAllPaymentOrder" resultType="com.puyin.cn.entity.FinancePo">
        SELECT id,order_id,amount,name ,tel,no,start_time FROM finance  WHERE  state=0 AND classify=0;
    </select>
    <update id="finishPaymentOrder">
        update finance set state=1 where id=#{id}
    </update>
    <select id="findPurchaseProductList" resultType="com.puyin.cn.vo.PaymentOrderInfoVo">
        SELECT product_name,product_count,product_purchase_price FROM purchase_order_info WHERE purchase_order_id =#{orderId}
    </select>
    <update id="addEndTime">
        update finance set end_time=now() where id=#{id}
    </update>
    <select id="findAllReceipt" resultType="com.puyin.cn.entity.FinancePo">
        select id,order_id,amount,name,tel,no,start_time from finance where classify=1 and state=0
    </select>
    <select id="findOrderNoreceipt" resultType="com.puyin.cn.vo.SellOrderInfoVo">
      select product_name,product_price,product_count from order_product_info where order_id=#{id}
    </select>
    <update id="finishReceiptOrder">
        update finance set state=1 where id=#{id}
    </update>
</mapper>