<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puyin.cn.dao.PermissionDao">
    <select id="findAlluser" resultType="com.puyin.cn.entity.UserPos">
        select * from eps_user where identity !=0 or  ISNULL(identity);
    </select>
    <update id="updateIdentity">
        UPDATE eps_user SET identity=#{identity} WHERE id = #{id}
    </update>
    <delete id="deleteUser">
        delete from eps_user where id = #{id}
    </delete>
</mapper>