<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puyin.cn.dao.ProcurementDao">
    <insert id="insertPurchaseOrder">
        insert into purchase_order values (null ,#{purchaseOrderNo} ,#{purchaseSellName} ,0,#{orderNo})
    </insert>
    <select id="selectPurchaseId" resultType="java.lang.Integer">
        select purchase_order_id from purchase_order where purchase_order_no=#{purchaseOrderNo}
    </select>
    <insert id="insetPurchaseOrderProduct">
        insert into purchase_order_info(purchase_order_id,product_name,product_count,product_purchase_price,supplier_name,supplier_tel,supplier_no) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.purchaseOrderId,jdbcType=INTEGER} ,#{item.productName,jdbcType=VARCHAR} ,#{item.productCount} ,null ,null ,null ,null )
        </foreach>

    </insert>
    <select id="findAllPurchase" resultType="com.puyin.cn.vo.PurchaseVo">
        select purchase_order_id,purchase_order_no,purchase_sell_name from  purchase_order where purchase_order_state=0;
    </select>
    <select id="findPurchaseById" resultType="com.puyin.cn.entity.PurchaseProductInfoPo">
	select * from purchase_order_info where purchase_order_id=#{purchaseOrderId} and ISNULL(product_purchase_price)

    </select>
    <update id="insertPurchasePriceById">
        update purchase_order_info set product_purchase_price=#{productPurchasePrice,jdbcType=DOUBLE},supplier_name=#{supplierName} ,supplier_tel=#{supplierTel} ,supplier_no=#{supplierNo}
         where purchase_order_id=#{purchaseOrderId,jdbcType=INTEGER}  and product_name=#{productName}
    </update>
    <select id="findPurchasePriceById" resultType="java.lang.Double">
        select purchase_order_id from purchase_order_info where purchase_order_id=#{purchaseOrderId} AND ISNULL(product_purchase_price)
    </select>
    <update id="purchaseOrderAccomplish">
        update purchase_order set purchase_order_state=1 where purchase_order_id=#{purchaseOrderId}
    </update>
    <select id="findAllStockoutPurchase" resultType="com.puyin.cn.vo.StockoutPurchaseVo">
        select purchase_order_id,purchase_order_no,purchase_order_state ,purchase_sell_name from   purchase_order where purchase_sell_name=#{purchaseSellName} ORDER BY purchase_order_state
    </select>
    <insert id="insertFinance">
        insert into finance values (null ,#{orderId} ,#{amount} ,#{name} ,#{tel} ,#{no}, 0,0,now(),null)
    </insert>
    <select id="findSumPriceById" resultType="java.lang.Double">
        SELECT SUM(product_purchase_price*product_count) FROM purchase_order_info WHERE supplier_name=#{name}
    </select>
    <insert id="addOutboundOrder">
      insert into  warehouse_order values (null ,#{warehouseNo} ,1,now(),#{state} )
    </insert>
    <select id="findNOBywarehouseId" resultType="java.lang.Long">
        select warehouse_id from warehouse_order where warehouse_no=#{warehouseNo}
    </select>
    <insert id="addOutboundOrderInfo">
        insert into warehouse_order_info values (#{id} ,#{productName} ,null,#{productCount} ,null )
    </insert>
    <insert id="addWarehouseOrder">
      INSERT INTO  warehouse_order VALUES(null,#{warehouseNo} ,0,NOW(),0)
    </insert>
    <select id="findWarehouseOrderIdByNo" resultType="java.lang.Long">
        select warehouse_id from warehouse_order where warehouse_no=#{warehouseNo}
    </select>
    <insert id="insertWarehouseProduct">
         insert into warehouse_order_info values (#{warehouseId},#{productName},#{productPurchasePrice},#{productCount},#{supplierInfo})
    </insert>
    <select id="findAllPurchaseById" resultType="com.puyin.cn.entity.PurchaseOrderByIdPo">
        select * from purchase_order_info where purchase_order_id=#{id}
    </select>
    <select id="findOrderOnByPurchaseId" resultType="java.lang.String">
        select order_no from purchase_order where purchase_order_id=#{purchaseOrderId}
    </select>
    <update id="updateSellOrderState">
        update eps_sell_order set order_state=0 where order_no=#{orderNo}
    </update>
    <select id="findOrderIdByOrderNo" resultType="java.lang.Long">
        select order_id from eps_sell_order where order_no=#{orderNo}
    </select>
    <update id="updateReceiptState">
        update finance set state=0 where order_id=#{orderId}
    </update>
    <delete id="deleteOutbountOrder">
        delete  from warehouse_order where warehouse_no=#{outbountNo}
    </delete>
</mapper>