<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puyin.cn.dao.SalesDao">

    <select id="findAllProduct" resultType="com.puyin.cn.entity.SalesPO">
        select id,product_name,product_count,product_price,product_category from  eps_product_info
    </select>
    <select id="findAllCateGroy" resultType="com.puyin.cn.entity.CategroyPo">
        select category_name from category_info
    </select>
    <insert id="insertTemporary">
        insert into temporary_table values (null ,#{count} ,null ,null ,null ,#{accountName},#{productName},#{id},#{productPrice})
    </insert>
    <select id="selectTemporary" resultType="com.puyin.cn.entity.TemporaryPo">
        select * from temporary_table where account_name=#{accountName}
    </select>
    <delete id="deleteTemporary">
       DELETE FROM temporary_table where account_name=#{accountName}
    </delete>
    <select id="findProductCount" resultType="com.puyin.cn.entity.CommodityStocksPo">
        SELECT id,product_count FROM eps_product_info WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="findProductNameById" resultType="java.lang.String">
        select product_name from eps_product_info where id=#{id,jdbcType=INTEGER}
    </select>
</mapper>